{% extends 'account/main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <hr>
    <br>
    <br>
    <h1 style="color: white; font:medium; text-align: center;" class="card-body">About Us</h1>
    <div style="color:rgb(239, 239, 245); font-style: italic; text-align: center; font-size: x-large;"  class="card-body">Website ini berisikan tentang Gitar - Gitar terbaik yang telah saya rekomendasikan </div>
</body>
</html>


{% endblock %}