{% extends 'account/main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classic</title>
    <style>
        .header{
            text-align: center;
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <hr>
    <hr>
    <hr>
    
    
</body>
</html>
{% endblock %}