{% extends 'account/main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kontak</title>
</head>
<body>
    <hr>
    <hr>
    <hr>
    <hr>
    <h1 style="color: white; font:medium; text-align: center;" class="card-body">Contact Us</h1>
    <div style="color:rgb(239, 239, 245); font-style: italic; text-align: center; "  class="card-body">Contact me for
        <a href="https://api.whatsapp.com/send?phone=6285729765956">WhatsApp</a>
            <p style="color: aliceblue;">and
                <a href="mailto:dickyandi.soffan@gmail.com">Email
                </a>
            </p>
        
    </div>
</body>
</html>


{% endblock %}