{% extends 'account/main.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <hr>
    <hr>
    <hr>
    <h2 style="text-align: center; color: white;">Gitar Gitar Terbaik</h2>
    <div class="" style="text-align: center; color: white;">
       
        {% for x in pics.qs %} 
            <div>
                <div class="deskripsi">
                    <div style="font-size: 25px; font-family: 'Times New Roman'; color: rgb(255, 255, 255); font-weight: bold; text-align: center;  background-color: rgb(58, 57, 57);" >
                        <div class="card-body">
                            <img src="{{x.image.url}}" alt="..." class="img-thumbnail" width="350px">
                            <br>
                            <p style="font-size: 25px; font-weight: bold; text-align: center;">{{x.nama}}</p>
                            <p style="font-size: 15px;">{{x.des}}</p>
                            <a href="{{x.button}}"><button class="btn btn-outline-light">Baca Selengkapnya</button></a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <hr style="border-bottom: 15px solid;">
       
        <br>
        <div style="font-size: xx-large; font-weight: bolder; color: white; " class="all">
            <hr>
            <hr>
            <hr>
            <h3 style="font-weight: bolder; color: white; font-size: 30px; ">Tulis Komentar</h3>
            <hr>
            <hr>
            <form method="POST">
                {% csrf_token %}
            <table style="font-size: 20px; margin-right: 20px;">
                {{post_form.as_table}}
            </table>
            <button style="margin-right: 1230px;" class="btn btn-outline-light" type="submit">Kirim</button>
        </form>


        </div>

        <h1 style="color: white; font-size: 30px;">{{page_title}}</h1>
        <hr>
        <hr>
        {% for post in posts %}
        <h1 style="color: black; font-size: 20px; border: 1px solid white; background-color: white;">{{post.Nama}}</h1>
        <p style="color: white; font-size: 15px;">{{post.Komentar}}</p>
        <hr>
        <hr>
        {% endfor %}
        
</body>
</html>
{% endblock %}
